<app-king-potus></app-king-potus>
<h2>
    On the 1st of July 2024 the Supreme Court granted presidents in general a definitive “absolute immunity” 
    from prosecution for core official acts and said presidents should be presumed immune for a 
    much more expansive list of acts.
    <br>
    <br>
    This leads to Presidents having presumed immunity for acts stated to be done under persidental duties. 
    This has lead to a reality where the persident is functionally above the law. Below are things that presidents could do 
    with partial or even total immunity, funcationally making the President Of The United States a king.....
</h2>
<app-info-cards></app-info-cards>
